<header>
  <h1>billmates</h1>
</header>

<main class="login">
  <form action="/session" method="post">
    <div class="login-input">
      <div>
        <label for="">email</label>
        <input name="email" type="email">
      </div>
      <div>
        <label for="">password</label>
        <input name="password" type="password">
      </div>
    </div>
    <button>login</button>
  </form>
  <p>
    <a href="/users/new">create new user</a>
  </p>
</main>