<header class="login-header">
  <h1>billmates</h1>
</header>

<section class="login-screenshot">
  <h2>split bills with your mates</h2>
  <img src="http://via.placeholder.com/100x100" alt="">


</section>



<main class="login-main">
  <form action="/session" method="post">
    <div class="login-input">
      <div class="login-credentials">
        <label for="">email</label>
        <input name="email" type="email">
      </div>
      <div>
        <label for="">password</label>
        <input name="password" type="password">
      </div>
    </div>
    <button>login</button>
  </form>
  <p>
    <a href="/users/new">create new user</a>
  </p>
</main>