<form action="/session" method="post">
  <label for="">email</label>
  <input type="email">
  <label for="">password</label>
  <input type="password">
  <button>login</button>
</form>

<p>
  <a href="">create new user</a>
</p>