* {
  box-sizing: border-box;
}

body {
  width: 100vw;
  margin: 0;
  font-family: 'Questrial', sans-serif;
  background-color: #F0C808;
  color: white; 
}

/* login page */


.login-header {
  text-align: center;
  background-color: #086788;
}

.login-header > h1 {
  color: white;
  font-family: 'Lily Script One', cursive;
  font-size: 8em;
  font-weight: 500;
  margin: 0;
}

.slogan > h2 {
  color: white;
  font-weight: 700;
  font-size: 2.5em;
  background-color: #F0C808;
  margin: 0;
  line-height: 2;
}

.login-screenshot {
  text-align: center;
}



.login-screenshot > img {
  width: 100%
}

.login-main {
  text-align: center;
  font-size: 1em;
}

.login-main > label * {
  color: white;
}

input { 
  border-color:#cccccc; 
  padding:8px; font-size:3em; 
  /* border-radius:10px;  */
  border-style:solid; 
  border-width:0px; 
  color:#6b6b6b; 
  box-shadow: 0px 2px 6px 0px rgba(42,42,42,.75); 
  text-shadow:0px 0px 0px rgba(42,42,42,.75);  
  margin: 10px;
} 

input:focus { outline:none; } 


.login-btn {
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  background-color: #086788;
  font-family: Arial;
  color: #ffffff;
  font-size: 2em;
  padding: 10px 20px 10px 20px;
  border: solid #086788 1px;
  text-decoration: none;
  margin: 5px;
  outline: none;
}

.login-btn:hover {
  background-color: transparent;
  text-decoration: none;
}

.login-main > p > a{
  color: white;
  font-size: 2em;
}



/* bill details page, header, div > main > aside */

.bill-details-header {
  background-image: 

}

.bill-name-join {
  display: flex;
  justify-content: space-evenly;
}

.user-nav {
  display: flex;
  /* justify-content: flex-end; */
}

.edit-btn {
width: 30%;
}
.user-btns {
  display: flex;
  width: 70%;
  justify-content: flex-end;
}




.bill-details-main-aside {
  /* display: flex; */
}

.payment-details {
  border: 1px solid red;
  width:100%;
  padding: 1%;
}

/* aside - class forum */

.forum {
  border: 1px solid blue;
  width: 100%;
  padding: 1%;
}

.comment-box {
  border: 1px solid green;
  border-radius: 5px;

  width: auto;
}


@media only screen  and (min-width : 1224px) {

  .login-screenshot{
    width: 40vw;
    margin: 0 auto;
  }
  .login-screenshot > img {
 
  }



}