* {
  box-sizing: border-box;
}

body {
  width: 100vw;
  margin: 0;
  font-family: 'Questrial', sans-serif;
  background-color: #8bb1da;
}

/* login page */

.login-header {
  text-align: center;
  background-color: #00134d;
}

.login-header > h1 {
  color: white;
  font-family: 'Lily Script One', cursive;
  font-size: 6em;
  font-weight: 500;
  margin: 0;
}

.login-screenshot {
  text-align: center;
}

.login-screenshot > h2 {
  color: white;
  font-weight: 700;
  font-size: 2.5em;
}

.login-screenshot > img {
  width: 100%
}

.login-main {
  text-align: center;
  font-size: 2em;
}













.login-input {
  display: flex;
  flex-direction: column;

}

.bill-details {
  /* display: flex; */
}

.payment-details {
  border: 1px solid red;
  width:100%;
  padding: 1%;
}

.forum {
  border: 1px solid blue;
  width: 100%;
  padding: 1%;
}